<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <root>
       <priority value ="debug" />
       <appender-ref ref="STDOUT" />
    </root>
    
    <category name="org.scilla">
      <priority value="info" />
    </category>

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
       <layout class="org.apache.log4j.PatternLayout">
	 <param name="ConversionPattern" value="%d [%t] %p %c - %m%n"/>
       </layout>	    
    </appender>
	
</log4j:configuration>
